@charset "UTF-8";
body {
	margin: 0;
}
img {
	width: 100%;
	height: auto;
}
#container {
	width: 100vw;
	height: 100vh;
	background-color: #F2F9BB;
	position: absolute;
}
#results {
	width: 80vw;
	height: 80vh;
	top: 10vh;
	left: 10vw;
	position: absolute;
	overflow: scroll;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	-webkit-overflow-scrolling: touch;
	background-color: #FFFEFE;
}
.thumb {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 33.3%;
	height: 45%;
	float: left;
	background-color: #FFFFFF;
	border-left: 1px solid #000000;
	border-right: 0px solid #000000;
	border-bottom: 1px solid #000000;
	border-top: 0px solid #000000;
	position: relative;
	left: 0%;
	cursor: pointer;
}
.icon  {
	width: 50%;
	height: auto;
	position: relative;
	top: 5%;
	left: 25%;
}
.description {
	width: 80%;
	height: auto;
	background-color: #FFFCFC;
	position: relative;
	top: 6%;
	left: 10%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 1.5vw;
}
#video {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0vw;
	left: 0vw;
}
#proseguiBtn {
	position: absolute;
	width: 12vw;
	height: auto;
	top: 60vw;
	left: 85vw;
}
.flags {
	position: absolute;
	width: 25vw;
	height: auto;
}
#itaBtn {
	top: 25vw;
	left: 6vw;
}
#engBtn {
	top: 25vw;
	left: 39vw;
}
#deuBtn {
	left: 70vw;
	top: 25vw;
}
#containerL1 {
	width: 25vw;
	background-color: #C3E2F6;
	height: 50vh;
	position: absolute;
	top: 25vh;
	left: 10vw;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
#containerL2 {
	width: 25vw;
	background-color: #C3E2F6;
	height: 50vh;
	position: absolute;
	top: 25vh;
	left: 40vw;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
#containerL3 {
	width: 25vw;
	background-color: #C3E2F6;
	height: 50vh;
	position: absolute;
	top: 25vh;
	left: 70vw;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.pulsantiL {
	width: 90%;
	height: auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	font-size: 3vw;
	position: relative;
	text-align: center;
	margin-bottom: 2%;
    cursor: pointer;
}
.pulsantiIdle {
	background-color: #F87678;
}
.pulsantiSelected {
	background-color: #76F8A7;
}
#cercaBtn {
	width: 15vw;
	height: auto;
	position: absolute;
	left: 82vw;
	top: auto;
	bottom: 2vw;
}
#backBtn {
	width: 6vw;
	height: auto;
	position: absolute;
	left: 88vw;
	top: 3vh;
	bottom: 2vw;
}
#feedback {
	width: auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height: auto;
	position: absolute;
	top: 78vh;
	left: 10vw;
	font-size: 2vw;
}
#feedbackListaProdotti {
	width: auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height: auto;
	position: absolute;
	top: 92vh;
	left: 10vw;
	font-size: 2vw;
}
.selectButton {
	width: 30%;
	height: auto;
	position: absolute;
	left: 35%;
	bottom: 2%;
	font-size: medium;
	/* [disabled]top: auto; */
	cursor: pointer;
}
#fullImages {
	width: 40vw;
	height: 40vw;
	position: absolute;
	top: 10vh;
	left: 10vw;
}
#fullDetails {
	background-color: #CDCDCD;
	width: 40vw;
	height: 80vh;
	position: absolute;
	top: 10vh;
	left: 56vw;
	font-size: 2vw;
}
#fullCatalog {
	position: absolute;
	width: 25vw;
	height: auto;
	top: 13vh;
	left: 10vw;
}
#freeSearchBtn {
	position: absolute;
	width: 16vw;
	height: auto;
	top: 15vh;
	left: 77vw;
}
#searchField {
	background-color: #D5D5D5;
	font-size: 2vw;
	width: 32vw;
	height: auto;
	position: absolute;
	top: 15vh;
	padding: 1.5vw;
	left: 40vw;
	overflow: hidden;
}
